/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 100%; */
  padding-top: var(--top-indent);
}

.qwe {
  width: 20px;
  /* min-height: 5px; */
  position: absolute;
}

.qwe1 {
  height: env(safe-area-inset-top);
  top: env(safe-area-inset-top);
  right: 10px;
  background-color: red;
}

.qwe2 {
  height: env(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  right: 30px;
  background-color: rgb(251, 255, 0);
}

.qwe3 {
  width: env(safe-area-top);
  top: env(safe-area-top);
  left: 50px;
  background-color: rgb(170, 0, 255);
}

.qwe4 {
  width: env(safe-area-inset-top);
  top: env(safe-area-inset-bottom);
  left: 70px;
  background-color: rgb(253, 144, 255);
}