.App {
  /* position: fixed;
  inset: 0; */
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: #a2bee9;
  /* overflow: scroll; */
  /* overscroll-behavior: contain; */
}

.AppChld {
  background: var(--main-background);

}

.qwe {
  width: 20px;
  position: absolute;
}

.qwe1 {
  height: env(safe-area-inset-top);
  top: 0;
  right: 40px;
  background-color: rgb(112, 0, 0);
}

.qwe2 {
  height: env(safe-area-inset-bottom);
  top: 0;
  right: 60px;
  background-color: rgb(170, 0, 255);
}

.qwe3 {
  width: 10px;
  height: env(safe-area-inset-top);
  top: env(safe-area-inset-top);
  right: 10px;
  background-color: rgb(251, 255, 0);
}

.qwe4 {
  width: 10px;
  height: env(safe-area-inset-bottom);
  top: env(safe-area-inset-bottom);
  right: 50px;
  background-color: rgb(253, 144, 255);
}

.qwe5 {
  height: env(safe-area-inset-top);
  bottom: 0;
  right: 40px;
  background-color: rgb(164, 166, 44);
}

.qwe6 {
  height: env(safe-area-inset-bottom);
  bottom: 0;
  right: 60px;
  background-color: rgb(172, 91, 173);
}

/* .qwe8 {
  height: env(safe-area-inset-top);
  bottom: calc(env(safe-area-inset-top) * -1);
  right: 140px;
  background-color: rgb(164, 166, 44);
}

.qwe9 {
  height: env(safe-area-inset-bottom);
  bottom: calc(env(safe-area-inset-bottom) * -1);
  right: 160px;
  background-color: rgb(172, 91, 173);
} */

.qwe7 {
  width: 10px;
  top: 0;
  left: 50px;
  background-color: rgb(172, 91, 173);
}

.driver {
  margin: 40px;
}

.web {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100vw;
  height: 48px;
}

.web2 {
  background-color: greenyellow;
  height: 100vh;
}