/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#root {
  height: 100%;
  margin: 0;

  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    div:not(.qwe) {
      background-color: rgba(98, 255, 0, 0.315);
    }
  }
}

.qwe {
  width: 20px;
  min-height: 5px;
}

.qwe1,
.qwe3,
.qwe5 {
  position: fixed;
}

.qwe2,
.qwe4,
.qwe6 {
  position: absolute;
}

.qwe1 {
  height: env(safe-area-inset-top);
  top: 0;
  right: 0;
  background-color: red;
}

.qwe2 {
  height: env(safe-area-inset-top);
  top: 0;
  right: 30px;
  background-color: rgb(255, 102, 0);
}

.qwe3 {
  height: env(safe-area-inset-bottom);
  bottom: 0;
  right: 0;
  background-color: rgb(157, 0, 255);
}

.qwe4 {
  height: env(safe-area-inset-bottom);
  bottom: 0;
  right: 30px;
  background-color: rgb(255, 52, 181);
}

.qwe5 {
  height: env(safe-area-inset-top);
  top: -20px;
  right: 60px;
  background-color: rgb(223, 215, 220);
}

.qwe6 {
  height: env(safe-area-inset-bottom);
  bottom: 0px;
  right: 60px;
  background-color: rgb(238, 255, 0);
}