/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

div {
  padding: 10px;
} */

:root {
  // --top-ind: var(env(safe-area-inset-top), 0);
  --top-indent: max(env(safe-area-inset-top), 16px);
}

html {
  // height: 100%;
  // // min-height: var(--top-ind);
  // /* background-color: rgba(255, 0, 0, 0.152); */
  // /* 
  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  // background-attachment: fixed;
  // background-image: url('/public/favicon-96x96.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover; */
}

@supports (-webkit-touch-callout: none) {


  html {
    height: calc(100% + var(--top-indent));
  }
}

* {
  margin: 0;
}

body {
  height: 100%;
  background-color: rgba(0, 51, 255, 0.152);
}